<table class="table table-bordered table-striped">
  <tr>
    <th style="width: 30%">Title</th>
    <th>Description</th>
    <th>Acc.</th>
    <th style="width: 40px"></th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= link_to problem.title, problem %></td>
    <td><%= problem.description[0..50] %></td>
    <td><%= decorate_accuracy(problem.accuracy).html_safe %></td>
    <td><% if current_user.solved?(problem)%>
          <% if problem.myanswer(current_user).correct? %>
            <i class="icon-ok"></i>
          <% else %>
            <i class="icon-remove"></i>
          <% end %>
        <% else %>
          <%= link_to '解く', problem %>
        <% end %>
    </td>
  </tr>
<% end %>
</table>
