<%- model_class = @problem.class -%>
<h1><%= @problem.title %></h1>

<p>by. <%= link_to @problem.creator %></p>

<p>
  <%= @problem.description %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              problems_path, :class => 'btn'  %>
</div>
