<h1>Emacs 検定</h1>
<p><%= link_to 'Vim検定', "http://www.infiniteloop.co.jp/vim/" %>にインスパイアされて作りました。</p>
<p>ソースコード公開中: <%= link_to 'Fork me on Github!', "https://github.com/tomykaira/emacs_kentei" %></p>
